<div class="container text-center my-4">
    <h2>Course Manager</h2>
    <h5>Login</h5>
  </div>
  
  <div class="container my-5" style="max-width: 400px;">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
    
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
    
        <div class="d-grid mb-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    
        <div class="d-grid">
            <a href="/newaccount" class="btn btn-outline-secondary w-100">Create New Account</a>
        </div>
    </form>
  </div>
  
  